{
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "test/**/*.js"
            ]
          }
        ]
      ]
    }
  }
}
