# do not lint/format generated artifacts
test/results/coverage/
dist/
package-lock.json
src/*content-script.js
src/background.js
src/report.js
src/consent-form.js
# don't lint third party resources
src/popup/photon-components-web.css
src/popup/tailwind.min.css
# makes sure that eslintrc.js gets linted/formatted
!.eslintrc.js
# don't lint/format code the directory where get-firefox stores the Firefox binaries
/firefox-*
# don't lint/format package.json since npm install formats it differently by default
package.json
# don't lint node_modules
node_modules
