dist/*
node_modules/
src/*content-script.js
src/background.js
src/get-started.js
src/report-regret-form.js
src/manifest.json
src/options-ui.js
ts/background.js/lib/validate.js
.env
test/build
test/results/coverage
/firefox-*
stats.json
yarn-error.log
*.map
.env.production*
.env.development*
