/* purgecss start ignore */

body.doorhanger {
  background-color: #000;
}

.img-icon-close-white {
  background-image: url(./img/icon-close-white.svg);
  width: 17px;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.img-doorhanger-icon {
  background-image: url(./img/doorhanger-icon.svg);
  width: 23px;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.img-no-path {
  background-image: url(./img/no-path.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}

.doorhanger-content-circles {
  background-image: url(./img/doorhanger-circles.svg);
  background-repeat: no-repeat;
  background-position-y: -390px;
  background-position-x: center;
  width: 100%;
}

.doorhanger-content-gradient {
  background: rgb(53, 53, 54);
  background: linear-gradient(
    180deg,
    rgba(20, 20, 21, 1) 0%,
    rgba(254, 254, 255, 1) 100%
  );
}

/* purgecss end ignore */
