body {
  background-color: #fff;
}

/* To align with the current font size */
.checkbox {
  margin: -3px 5px;
}

.likert-react_src-___styles__question {
  margin-bottom: 0.5em;
}
.likert-react_src-sentiment-wrapper-___styles__sentiment svg {
  display: inline;
  height: 4em;
  width: 4em;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.likert-react_src-___styles__question,
.input__label,
.textarea__label,
.label-bold {
  font-weight: 600;
  margin-bottom: 0.5em;
}
.list-breadcrumb li + li::before {
  content: "→";
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.feedback-link {
  background-color: #000;
  background-image: url(./feedback.svg);
  background-position: 0.125rem 0.38rem;
  background-repeat: no-repeat;
  background-size: 1.125rem;
  color: #fff;
  font-size: 0.75rem;
  line-height: 0.75rem;
  padding: 0.375rem 0.375rem 0.375rem 1.25rem;
  text-indent: 0.125rem;
  white-space: nowrap;
}
