/* purgecss start ignore */

.img-icon-close-grey {
  background-image: url(./img/icon-close-grey.svg);
  width: 12px;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.timeline {
}
.timeline ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1.25rem;
}
.timeline ul li {
  position: relative; /* so that pseudoelements are positioned relatively to their "li"s*/
  /* use padding-bottom instead of margin-bottom.*/
  margin-bottom: 0; /* This overrides previously specified margin-bottom */
  padding-bottom: 1.1em;
}
.timeline ul li:last-child {
  padding-bottom: 0;
}

.timeline ul li:after {
  /* bullets */
  content: url("./img/timeline-bullet.svg");
  position: absolute;
  left: -1.25rem; /*adjust manually*/
  top: calc(50% - 1.3rem);
  width: 0.6875rem;
  height: 100%;
}
/* Different since the last one has no padding */
.timeline ul li:last-child:after {
  top: calc(50% - 0.8rem);
}
/* Chrome-specifics */
.timeline:not(*:root) ul li:after {
  top: calc(50% - 0.9rem);
}
.timeline:not(*:root) ul li:last-child:after {
  top: calc(50% - 0.5rem);
}

.timeline ul li:before {
  /* lines */
  content: "";
  position: absolute;
  left: -0.9375rem; /* adjust manually */
  top: 0.6875rem;
  border-left: 0.0625rem solid #ededf0;
  height: 100%;
  width: 0;
}

.timeline ul li:first-child:before {
  /* first li's line */
  top: calc(
    50% - 0.8rem
  ); /* moves the line down so that it disappears under the bullet. Adjust manually */
}

.timeline ul li:last-child:before {
  /* last li's line */
  height: calc(
    50% - 0.8rem
  ); /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
  top: 0.6875rem;
}

/* purgecss end ignore */
