dist/
build/
ts/background.js/lib/validate.js
test/build/
test/results/coverage/
stats.json
yarn-error.log
*.map
node_modules/
.env*
!.env.example
!.env.ci
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
