@tailwind base;

.get-started h1 {
  @apply text-5xl font-bold;
}
.get-started h2 {
  @apply text-4xl font-bold mb-6;
}
.get-started p {
  @apply my-6;
}
.get-started ul.get-started-list {
  list-style-type: disc;
  padding-left: theme("padding.16");
}
.get-started ul.get-started-list li {
  padding-left: theme("padding.4");
}
.get-started ol.get-started-list {
  list-style-type: decimal;
  padding-left: theme("padding.16");
}
.get-started ol.get-started-list li {
  padding-left: theme("padding.4");
}

@tailwind components;
@tailwind utilities;
