/* zilla-slab-300normal - latin */
@font-face {
	font-family: 'Zilla Slab';
	font-style: normal;
	font-display: swap;
	font-weight: 300;
	src:
		local('Zilla Slab Light '),
		local('Zilla Slab-Light'),
		url('../../../node_modules/typeface-zilla-slab/files/zilla-slab-latin-300.woff2') format('woff2');
}

/* zilla-slab-300italic - latin */
@font-face {
	font-family: 'Zilla Slab';
	font-style: italic;
	font-display: swap;
	font-weight: 300;
	src:
		local('Zilla Slab Light italic'),
		local('Zilla Slab-Lightitalic'),
		url('../../../node_modules/typeface-zilla-slab/files/zilla-slab-latin-300italic.woff2') format('woff2');
}

/* zilla-slab-400normal - latin */
@font-face {
	font-family: 'Zilla Slab';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		local('Zilla Slab Regular '),
		local('Zilla Slab-Regular'),
		url('../../../node_modules/typeface-zilla-slab/files/zilla-slab-latin-400.woff2') format('woff2');
}

/* zilla-slab-400italic - latin */
@font-face {
	font-family: 'Zilla Slab';
	font-style: italic;
	font-display: swap;
	font-weight: 400;
	src:
		local('Zilla Slab Regular italic'),
		local('Zilla Slab-Regularitalic'),
		url('../../../node_modules/typeface-zilla-slab/files/zilla-slab-latin-400italic.woff2') format('woff2');
}

/* zilla-slab-500normal - latin */
@font-face {
	font-family: 'Zilla Slab';
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src:
		local('Zilla Slab Medium '),
		local('Zilla Slab-Medium'),
		url('../../../node_modules/typeface-zilla-slab/files/zilla-slab-latin-500.woff2') format('woff2');
}

/* zilla-slab-500italic - latin */
@font-face {
	font-family: 'Zilla Slab';
	font-style: italic;
	font-display: swap;
	font-weight: 500;
	src:
		local('Zilla Slab Medium italic'),
		local('Zilla Slab-Mediumitalic'),
		url('../../../node_modules/typeface-zilla-slab/files/zilla-slab-latin-500italic.woff2') format('woff2');
}

/* zilla-slab-600normal - latin */
@font-face {
	font-family: 'Zilla Slab';
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src:
		local('Zilla Slab SemiBold '),
		local('Zilla Slab-SemiBold'),
		url('../../../node_modules/typeface-zilla-slab/files/zilla-slab-latin-600.woff2') format('woff2');
}

/* zilla-slab-600italic - latin */
@font-face {
	font-family: 'Zilla Slab';
	font-style: italic;
	font-display: swap;
	font-weight: 600;
	src:
		local('Zilla Slab SemiBold italic'),
		local('Zilla Slab-SemiBolditalic'),
		url('../../../node_modules/typeface-zilla-slab/files/zilla-slab-latin-600italic.woff2') format('woff2');
}

/* zilla-slab-700normal - latin */
@font-face {
	font-family: 'Zilla Slab';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src:
		local('Zilla Slab Bold '),
		local('Zilla Slab-Bold'),
		url('../../../node_modules/typeface-zilla-slab/files/zilla-slab-latin-700.woff2') format('woff2');
}

/* zilla-slab-700italic - latin */
@font-face {
	font-family: 'Zilla Slab';
	font-style: italic;
	font-display: swap;
	font-weight: 700;
	src:
		local('Zilla Slab Bold italic'),
		local('Zilla Slab-Bolditalic'),
		url('../../../node_modules/typeface-zilla-slab/files/zilla-slab-latin-700italic.woff2') format('woff2');
}

