@tailwind base;

.consent-form h1 {
  @apply text-5xl font-bold;
}
.consent-form h2 {
  @apply text-4xl font-bold mb-6;
}
.consent-form p {
  @apply my-5;
}
.consent-form ul {
  list-style-type: disc;
  padding-left: theme("padding.8");
}
.consent-form ol {
  list-style-type: decimal;
  padding-left: theme("padding.8");
}

@tailwind components;
@tailwind utilities;
